body{
    background-color: burlywood;

}

h1{
    font-size: 15px;
    color: purple;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}